<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>厦门轨道行业监管系统</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" href="/static/img/logo_icon.png">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
</head>

<body>
    <div id="app"></div>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=2GzKZsu6Ctu7NOnSPzIlwyoweGKPI6GM"></script>
</body>

</html>
