html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html{
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Microsoft YaHei", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}

a img {
  border: 0;
}

a {
  text-decoration: none;
}

/*sxc-flex*/
.sxc-flex {
  display: flex;
}
.sxc-flex__item{
  flex: 1;
}

/*iview表格样式 .myTableIview*/
.myTableIview {

}

.myTableIview .ivu-table th {
  border-right: 1px solid #7babd4;
  border-bottom: 1px solid #7babd4;
  color: #FFF;
  background-color: #64a2d1;
}

.myTableIview .ivu-table-cell {
  padding-left: 0;
  padding-right: 0;
}

.myTableIview .ivu-table-border td {
  border-right: 1px solid #fafafa;
  border-bottom: 1px solid #fafafa;
}

.myTableIview .ivu-table-border tr:nth-child(4n + 1) td,
.myTableIview .ivu-table-border tr:nth-child(4n + 2) td{
  background-color: #FFF;
}
.myTableIview .ivu-table-border tr:nth-child(4n + 3) td,
.myTableIview .ivu-table-border tr:nth-child(4n + 4) td{
  background-color: #def0fa;
}

/* iview 默认加载样式 */
.ivu-spin-fix {
  background-color: hsla(0,0%,100%,.5);
}